<div class="container">
  <div class="themr">
    <h2>ランキング</h2>
  </div> 
    <table border="all">
      <tr>
        <th>ユーザーネーム</th>
        <th>タイム</th>
      </tr>
      <% Score.all.order(:score).each do |score| %>
      <tr>
        <td><%= score.user.name %></td>
        <td>
           <%= score.score %>
        </td>
        
        
      </tr>
      <% end %>  
    </table>
  <%#= form_with model:@score, url:score_index_path, local:true do |f| %>
  <!--<table class="">-->
  <!--          <tr>-->
  <!--            <th>タイム</th>-->
  <!--            <td><%#= f.text_field :score, placeholder:"20:40" %></td>-->
  <!--          </tr>-->
  <!--</table>-->
  <%# end %>
</div>