<body>
  <div class="show">
    <p class="name">おなまえ:<%= @user.name %></p>
    <p class="name">今までのおさらあらい:<%= @user.scores.count %>回</p>
  
  <div alss="action"><%= link_to "お父さん・お母さんのページ", edit_user_path(@current_user), class: "action" %></div>
    
  </div>
</body>