// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
}

.tag{
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 30px;
}

.main {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clock {
  color: #ffd0cc;
  text-shadow: 0 0 20px #ffe4e1;
  font-family: 'Mochiy Pop P One', sans-serif;
  line-height: 1;
  text-align: center;
}


.clock-time {
  font-size: 100px;
}

