// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Mochiy Pop P One', sans-serif;
}

h2{
  padding-top: 150px;
}

.mypage{
  padding-top: 200px;
  color: #666666;
  text-align: center;
}

.show{
  padding-bottom: 20px;
}

.profile{
  padding: 0.2em 0.5em;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.action{
  color: #666666;
  background-color: #ffeabf;
  border-bottom: 5px solid #ffd5bf;
  width: 400px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.action:hover{
  margin-top: 3px;
  color: #666666;
  background: #ffcabf;
  border-bottom: 2px solid #ffbfbf;
}

.parents{
  padding-left: 20px;
  padding-top: 10px;
}

.edit{
  padding-top: 150px;
  text-align: center;
}

.login{
  color: #666666;
  background-color: #ffeabf;
  border-bottom: 5px solid #ffd5bf;
  width: 200px;
  outline: none;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.login:hover{
  margin-top: 3px;
  color: #666666;
  background: #ffcabf;
  border-bottom: 2px solid #ffbfbf;
}
