// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: 'Mochiy Pop P One', sans-serif;
}

h2{
  padding-top: 150px;
}

.show{
  padding-top: 200px;
  color: #666666;
}

.action{
  color: #666666;
  background-color: #ffeabf;
  border-bottom: 5px solid #ffd5bf;
  width: 400px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.action:hover{
  margin-top: 3px;
  color: #666666;
  background: #ffcabf;
  border-bottom: 2px solid #ffbfbf;
}
